if theme.preloader.enable
  case theme.preloader.load_style    
    when 'gear'
      include ./load_style/gear.pug
    when 'scarecrow'
      include ./load_style/scarecrow.pug
    when 'image'
      include ./load_style/image.pug
    when 'pokeball'
      include ./load_style/pokeball.pug
    when 'hyperspace'
      include ./load_style/hyperspace.pug
    default
      include ./load_style/default.pug
